@tailwind base;
@tailwind components;
@tailwind utilities;

/* Selection */
::selection {
  background: rgb(23 23 23);
  color: rgb(249 250 251);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(249 250 251);
}

::-webkit-scrollbar-thumb {
  background: rgb(23 23 23);
}

.fancy-bg {
  background: linear-gradient(to right, #fdf4e3, #f9a01b, #fdf4e3);
  background-size: 400% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animateGradient 10s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
  /* navy blue */
  /* --color-primary: rgb(249 250 251); */
  --color-primary: rgb(23 23 23);
  background-color: var(--color-primary);
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  75% {
    background-position: 300% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}
